@media only screen and (max-width: $breakPointLaptops) {
    .component9 {
        height: auto;
        .content {
            .downside {
                grid-template-columns: 300px 400px 300px;
                .center,
                .phone,
                .leftside,
                .leftside .item {
                    overflow: unset;
                }
                .leftside {
                    margin-left: 161px;
                    z-index: 0;
                }
                .rightside {
                    margin-left: -161px;
                }
            }
        }
    }
}
