.component3 {
    width: 100%;
    height: 436px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #FFFFFF;
    background: linear-gradient(rgb(228, 228, 228) 0.1px , white 4px);
}

.component3 .content {
    width: 1170px;
    height: 240px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 300px 300px 270px;
    align-items: end;
    margin: -7px 9px 0 0;
}

.component3 .content .quarter {
    width: 270px;
    height: 210px;
    border: 1px solid #DBE7EF;
    border-radius: 3px;
    overflow: visible;
}

.component3 .quarter .border {
    border: 1px solid #DBE7EF;
    border-radius: 50%;
}

.component3 .content .quarter .round {
    width: 60px;
    height: 60px;
    padding: 4px 0 0 4px;
    margin: auto;
    transform: translateY(-50%);
    background-color: #FFFFFF;
}

.component3 .content .quarter .round .smallround {
    width: 50px;
    height: 50px;
    padding: 15px;
    overflow: hidden;
}

.component3 .content .quarter:nth-child(3) .round .smallround img {
    margin: -2px 0 0 -3px;
}

.component3 .content .quarter p {
    font-family: "Lato", sans-serif;
    text-align: center;
}

.component3 .content .quarter p:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: #2C3E50;
    margin: -10px 1px 0px 0;
}

.component3 .content .quarter p:nth-child(3) {
    width: 187.89px;
    height: 125px;
    font-size: 14px;
    font-weight: normal;
    color: #A1B1BC;
    line-height: 1.78;
    margin: 9px 0 0 40px;
}

@media only screen and (max-width: 1279px) {
    .component3 {
        height: auto;
    }
    .component3 .content {
        height: 730px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 250px 240px 240px;
        justify-content: center;
        margin-bottom: 20px;
    }
    .component3 .content .quarter:nth-child(1) {
        grid-area: 1 / 1 /2 /span 2;
        margin-left: 150px;
    }
    .component3 .content .quarter:nth-child(2) {
        grid-area: 2 / 1 /3 /2;
    }
    .component3 .content .quarter:nth-child(3) {
        grid-area: 2 / 2 /3 /3;
    }
    .component3 .content .quarter:nth-child(4) {
        grid-area: 3 / 1 / 4 / span 2;
        margin-left: 150px;
    }
}

@media only screen and (max-width: 1023px) {
    .component3 {
        height: auto;
    }
    .component3 .content {
        height: 600px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 280px 270px;
        justify-content: center;
        margin: 0;
    }
    .component3 .content .quarter:nth-child(1) {
        grid-area: auto;
        margin: 0;
    }
    .component3 .content .quarter:nth-child(2) {
        grid-area: auto;
    }
    .component3 .content .quarter:nth-child(3) {
        grid-area: auto;
    }
    .component3 .content .quarter:nth-child(4) {
        grid-area: auto;
        margin: 0;
    }
}

@media only screen and (max-width: 767px) {
    .component3 .content {
        height: auto;
        grid-template-columns: 265px;
        grid-template-rows: 240px 240px 240px 240px;
        align-content: center;
    }
}