.component10 {
    height: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.component10 .content {
    width: 1170px;
    height: auto;
    margin-top: 93px;
    font-weight: 300;
    margin-left: -14px;
}

.component10 .content h1, .component10 .content h2, .component10 .content h3, .component10 .content h4, .component10 .content p {
    font-family: "Lato", sans-serif;
    text-align: center;
}

.component10 .content .main>h1 {
    font-size: 36px;
    color: #2C3E50;
    font-weight: 300;
    margin: 1px 0 0 5px;
}

.component10 .content .main>p {
    font-size: 14px;
    color: #A1B1BC;
    margin: 4px 0 0 4px;
    line-height: 1.8;
    word-spacing: 1.2px;
}

.component10 .content .main {
    width: 100%;
    height: auto;
    margin-top: -3px;
}

.component10 .content .main .table {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 293px);
    grid-template-rows: 492px;
    align-items: flex-end;
    margin-top: 67px;
}

.component10 .content .main .table .column {
    height: 494px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 17px 152px repeat(6, 40px) 85px;
}

.component10 .content .main .table .column .cell {
    background-color: #EAEBEC;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component10 .content .main .table .column .cell p {
    font-size: 14px;
    color: #686D80;
}

.component10 .content .main .table .order .cell:nth-child(2) {
    background-color: #34495E;
}

.component10 .content .main .table .order .headinfo {
    background: linear-gradient(45deg, #1DD1AD, #45D0FF);
}

.component10 .content .main .table .order .headinfo h1 {
    font-size: 48px;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 4px;
}

.component10 .content .main .table .order .headinfo p {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: -7px;
}

.component10 .content .main .table .column .cell.lightcolor {
    background-color: #F6F6F6;
}

.component10 .content .main .table .column .cell.lightdarkcolor {
    background-color: #ECF0F1;
}

.component10 .content .main .table .column.col1 h4 {
    font-size: 24px;
    font-weight: bold;
    color: #A1B1BC;
}

.component10 .content .main .table .order {
    grid-template-rows: 17px 67px 85px repeat(6, 40px) 85px;
}

.component10 .content .main .table .order .cell:first-child {
    background-color: #34495E;
}

.component10 .content .main .table .order h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.component10 .content .main .table .order .cell button {
    width: 120px;
    height: 32px;
    border: none;
    background-color: #1ABC9C;
    color: #FFFFFF;
    box-shadow: 0px 2px 0px 0px #16a085;
    font-size: 15px;
    color: #FFFFFF;
}

.component10 .content .main .table .order:hover {
    cursor: pointer;
}

.component10 .content .main .table .order:hover .cell:nth-child(2) {
    grid-row: 1/3;
}

.component10 .content .main .table .order:hover .forhover {
    display: none;
}

.component10 .content .main .table .order .cell button:hover {
    cursor: pointer;
    background-color: #3A3E4A;
    box-shadow: none;
}

.component10 .content .advertise {
    height: 150px;
    width: 100%;
    margin: 98px 0 0 0;
    display: grid;
    grid-template-columns: 23px 1fr 270px;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    border: 1px solid #EAEBEC;
}

.component10 .content .advertise .greencolumn {
    width: 10px;
    height: 140px;
    background-color: #1ABC9C;
}

.component10 .content .advertise .info {
    width: 100%;
    height: 100%;
    padding: 23px;
}

.component10 .content .advertise .info h3 {
    font-size: 24px;
    font-weight: 300;
    color: #2C3E50;
    text-align: left;
    margin-top: 6px;
}

.component10 .content .advertise .info p {
    font-size: 14px;
    color: #A1B1BC;
    text-align: left;
    margin-top: 11px;
    line-height: 1.7;
    letter-spacing: 1.px;
    word-spacing: 1.3px;
}

.component10 .content .advertise button {
    width: 176px;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background-color: #1ABC9C;
    color: #FFFFFF;
    box-shadow: 0px 2px 0px 0px #16a085;
    border-radius: 3px;
}

.component10 .content .advertise button:hover {
    cursor: pointer;
    background-color: #16a085;
}

@media only screen and (max-width: 1279px) {
    .component10 .content {
        max-width: 1170px;
        width: 95%;
    }
    .component10 .content .main .table {
        grid-template-columns: repeat(4, 1fr);
    }
    .component10 .content .advertise .info {
        width: 100%;
        height: 100%;
        padding: 13px;
    }
}

@media only screen and (max-width: 1023px) {
    .component10 .content .advertise {
        grid-template-columns: 23px 1fr 220px;
    }
}

@media only screen and (max-width: 767px) {
    .component10{
        height: auto;
    }
    .component10 .content {
          margin-top: 30px;
    }
    .component10 .content .main>h1{
        font-size: 26px;
        font-weight: bold;
    }
    .component10 .content .main .table {
        grid-template-columns: 1.3fr repeat(3, 2fr);
        grid-template-rows: auto;
        margin-top: 30px;
    }
    .component10 .content .main .table .column {
        grid-template-rows: 7px 112px repeat(6, 50px) 34px;
    }
    .component10 .content .main .table .order {
        grid-template-rows: 7px 47px 65px repeat(6, 50px) 34px;
    }
    .component10 .content .main .table .column.col1 h4 {
        font-size: 14px;
    }
    .component10 .content .main .table .column.col1 .cell p {
        font-size: 12px;
        font-weight: bold;
        word-wrap: break-word;
    }
    .component10 .content .main .table .order h2 {
        font-size: 14px;
    }
    .component10 .content .main .table .order .headinfo h1 {
        font-size: 28px;
    }
    .component10 .content .main .table .column .cell p {
        font-weight: bold;
    }
    .component10 .content .advertise {
        grid-template-columns: 23px 1fr;
        grid-template-rows: 125px 59px;
        height: 180px;
        margin: 25px 0 15px 0;
    }
    .component10 .content .advertise .greencolumn {
        grid-row: 1/3;
        width: 6px;
        height: 90%;
    }
    .component10 .content .advertise .info {
        grid-area: 1/2/2/3;
        padding: 3px;
    }
    .component10 .content .advertise .info h3 {
        font-size: 14px;
        font-weight: bold;
    }
    .component10 .content .advertise .info p {
        font: 11px;
        font-weight: 400;
        margin-top: 4px;
    }
    .component10 .content .advertise button {
        grid-area: 2/2/3/3;
        width: 120px;
        height: 35px;
        font-size: 14px;
    }
}