.component9 {
    height: 881px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353841;
    overflow-y: hidden;
}

.component9 .content {
    width: 1170px;
    margin-right: 10px;
}

.component9 .content p, .component9 .content h1, .component9 .content h6 {
    font-family: "Lato", sans-serif;
    text-align: center;
}

.component9 .content h1 {
    font-size: 36px;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 96px;
}

.component9 .content h1 span {
    color: #26E2BD;
    font-weight: 500;
}

.component9 .content>p {
    font-size: 15px;
    color: #E8E8E8;
    margin-top: 6px;
    line-height: 1.6;
    margin-left: -2px;
}

.component9 .content .downside {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 570px 300px;
}

.component9 .content .downside i {
    width: 50px;
    height: 50px;
    background-color: #26E2BD;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component9 .content .downside .leftside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 166px 167px auto;
    margin-top: 130px;
}

.component9 .content .downside .leftside .item {
    display: grid;
    grid-template-columns: 250px 50px;
    grid-template-rows: 50px 100px;
    align-items: center;
}

.component9 .content .downside .leftside .item h6 {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: end;
    margin-right: 15px
}

.component9 .content .downside .leftside .item p {
    color: #E8E8E8;
    font-size: 14px;
    text-align: right;
    grid-column: 1/3;
    line-height: 1.73;
    margin-top: -10px;
}

.component9 .content .downside .center {
    width: 570px;
    height: auto;
    overflow-y: hidden;
}

.component9 .content .downside .center .phone {
    width: 446px;
    height: 655px;
    background-color: #A1B1BC;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: auto;
    margin-top: 43px;
}

.component9 .content .downside .rightside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 166px 167px auto;
    margin-top: 130px;
}

.component9 .content .downside .rightside .item {
    display: grid;
    grid-template-columns: 50px 250px;
    grid-template-rows: 50px 100px;
    align-items: center;
}

.component9 .content .downside .rightside .item h6 {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: start;
    margin-left: 10px
}

.component9 .content .downside .rightside .item p {
    color: #E8E8E8;
    font-size: 14px;
    text-align: left;
    grid-column: 1/3;
    line-height: 1.73;
    margin-top: -10px;
}

@media only screen and (max-width: 1279px) {
    .component9 .content .downside {
        grid-template-columns: 300px auto 300px;
    }
    .component9 .content .downside .center {
        width: 396px;
        margin: auto;
    }
    .component9 .content .downside .center .phone {
        max-width: 446px;
        width: 92%;
    }
}

@media only screen and (max-width: 1023px) {
    .component9 {
        height: auto;
    }
    .component9 .content .downside {
        grid-template-columns: 300px 400px 300px;
    }
    .component9 .content .downside .center, .component9 .content .downside .center .phone, .component9 .content .downside .leftside, .component9 .content .downside .leftside .item {
        overflow: unset;
    }
    .component9 .content .downside .leftside {
        margin-left: 161px;
        z-index: 0;
    }
    .component9 .content .downside .rightside {
        margin-left: -161px;
    }
}

@media only screen and (max-width: 767px) {
    .component9 .content .downside {
        grid-template-columns: 1fr;
        grid-template-rows: 453px 435px;
        margin-top: 20px;
        height: auto;
        justify-items: center;
    }
    .component9 .content .downside .center {
        width: 0;
        height: 0;
        margin: 0;
    }
    .component9 .content .downside .leftside {
        margin: 0;
        grid-column: 1/2;
        grid-row: 1/2;
        grid-template-rows: 143px 143px 143px;
        height: auto;
    }
    .component9 .content .downside .rightside {
        margin: 0;
        grid-column: 1/2;
        grid-row: 2/3;
        grid-template-rows: 143px 143px 143px;
        height: auto;
    }
    .component9 .content .downside .leftside .item {
        grid-template-columns: 50px 250px;
    }
    .component9 .content .downside .leftside .item i {
        grid-area: 1/1/2/2;
    }
    .component9 .content .downside .leftside .item h6 {
        grid-column: 2/3;
    }
    .component9 .content .downside .leftside .item img {
        grid-area: 1/1/2/2;
    }
    .component9 .content .downside .leftside .item p, 
    .component9 .content .downside .leftside .item h6, 
    .component9 .content .downside .rightside .item p, 
    .component9 .content .downside .rightside .item h6 {
        text-align: center;
    }
}