.component8{
    width: 100%;
    height: 711px;
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    border-top: 1px solid #ececec;
}
.component8 .content{
    width: 1170px;
    height: auto;
    display: grid;
    grid-template-columns: 1170px;
    grid-template-rows: 98px 17px 311px 76px 214px;
    align-items: center;
    justify-items: center;
    margin:61px 11px 0 0;
}
.component8 .content h1,
.component8 .content p,
.component8 .content h6{
    font-family: "Lato", sans-serif;
    text-align: center;
}
.component8 .content h1{
    font-size: 36px;
    font-weight: 300;
    color: #2C3E50;
}
.component8 .content p{
    font-size: 14px;
    color: #A1B1BC;
    line-height: 1.8;
}
.component8 .content .container{
    padding-top: 38px;
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(231, 235, 238);
}
.component8 .content .container p{
    font-size: 18px;
    margin: auto;
}
.component8 .content .item{
    margin-left: 3px;
    height: 172.63;
}
.component8 .content .item .circle{
    width: 112px;
    height: 112px;
    border: 6px solid white;
    border-radius: 50%;
    background-color: #A1B1BC;
    margin: auto;
}
.component8 .content .item h6{
    font-size: 18px;
    font-weight: bold;
    color: #2C3E50;
    margin-top: 17px;
}
.component8 .content .item p{
    font-size: 14px;
    color: #A1B1BC;
}
.component8 .content form{
    display: flex;
    width: 92px;
    justify-content: space-between;
    margin-left: 4px;
}
.component8 .content form input{
    width: 0px;
    height: 0px;
}
.component8 .content form label{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component8 .content form label .green{
    width: 0;
    height: 0;
}
.component8 .content form label:hover{
    cursor: pointer;
}
.component8 .content form #i1:checked~label #inp1{
    width: 6px;
    height: 6px;
    background-color: #1ABC9C;
    border-radius: 50%;
}
.component8 .content form #i2:checked~label #inp2{
    width: 6px;
    height: 6px;
    background-color: #1ABC9C;
    border-radius: 50%;
}
.component8 .content form #i3:checked~label #inp3{
    width: 6px;
    height: 6px;
    background-color: #1ABC9C;
    border-radius: 50%;
}
.component8 .content form #i4:checked~label #inp4{
    width: 6px;
    height: 6px;
    background-color: #1ABC9C;
    border-radius: 50%;
}
@media only screen and (max-width: 1279px){

    .component8{
        height: auto;
    }
    .component8 .content{
        width: 95%;
        height: auto;
        grid-template-columns: auto;
    }
    .component8 .content .container{
        width: 100%;
        height: auto;
        min-height: 150px;
        margin-bottom: 0;
    }
    
}
@media only screen and (max-width: 1023px){
    .component8 .content .container p{
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 767px){
    .component8 .content>p{
        margin-top: 90px;
    }
    .component8 .content .container{
        margin-top: 100px;
    }
    .component8 .content .item{
        margin-top: 155px
    }
    .component8 .content form{
        margin-top: 95px;
    }
      
}