.component5{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222533;
}
.component5 .content{
    width: 1170px;
    height: 523px;
    margin-left: 7px;
}
.component5 .content h1, 
.component5 .content p, 
.component5 .content h4{
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #FFFFFF;
}
.component5 .content h1{
    font-size: 36px;
    font-weight: 300; 
    margin-right: 17px;
}
.component5 .content p{
    font-size: 14px;
    margin: 13px 18px 0 0;
    line-height: 1.69;
} 
.component5 .content .infogram{
    display: grid;
    grid-template-columns: repeat(4 , 300px);
    grid-template-rows: 200px 1fr;
    margin-top: 54px;
}
.component5 .content .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.component5 .content .infogram .circle{
    width: 200px;
    height: 200px;
    background-color: #1ABC9C;
    border-radius: 50%;
    margin: 3px 0 0 26px;
}
.component5 .content .infogram .circle:hover{
    background-color: #21C2F8;
    cursor: pointer;
}
.component5 .content .infogram .circle:hover .whitecircle .graycircle{
    background-color: #2C3E50;
    cursor: pointer;
}
.component5 .content .infogram .circle:hover .whitecircle .graycircle p{
    color: #FFFFFF;
    cursor: pointer;
}
.component5 .content .infogram .circle .whitecircle{
    width: 188.06px;
    height: 188.06px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.component5 .content .infogram .circle .whitecircle .graycircle{
    width: 104.48px;
    height: 104.48px;
    background-color: #ECF0F1;
    border-radius: 50%;
}
.component5 .content .infogram .circle .whitecircle .graycircle p{
    color: #4E4E4E;
    font-size: 18px;
    margin: 0;
}
.component5 .content .infogram .category h4{
    font-size: 18px;
    font-weight: bold;
    margin: 29px 48px 0 0;
}
.component5 .content .infogram .category p{
    width: 260px;
    margin: 14px 0px 0 -4px;
    line-height: 1.77;
}

@media only screen and (max-width: 1279px){
    .component5{
        height: auto;
    }
    .component5 .content{
        height: auto;
        width: 100%;
    }
    .component5 .content .infogram{
        grid-template-columns: 45% 45%;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
    }
    .component5 .content .infogram .circle{
        margin: auto;
    }
    .component5 .content .infogram .circle:nth-child(1){
        grid-area: 1 / 1 / 2 / 2;
    }
    .component5 .content .infogram .circle:nth-child(2){
        grid-area: 1 / 2 / 2 / 3;
    }
    .component5 .content .infogram .circle:nth-child(3){
        grid-area: 3 / 1 / 4 / 2;
    }
    .component5 .content .infogram .circle:nth-child(4){
        grid-area: 3 / 2 / 4 / 3;
    }
    .component5 .content .infogram .category h4{
        margin: revert;
    }
    .component5 .content .infogram .category p{
        margin: auto;
    }
    .component5 .content .infogram .category:nth-child(5){
        grid-area: 2/1/3/2;
    }
    .component5 .content .infogram .category:nth-child(6){
        grid-area: 2/2/3/3;
    }
    .component5 .content .infogram .category:nth-child(7){
        grid-area: 4/1/5/2;
    }
    .component5 .content .infogram .category:nth-child(8){
        grid-area: 4/2/5/3;
    }
}

@media only screen and (max-width: 767px){
    .component5 .content{
        margin-top: 20px;
    }
    .component5 .content .infogram{
        grid-template-columns: 300px;
        grid-auto-rows: 1fr;
        justify-content: center;
    }
    .component5 .content .infogram .circle:nth-child(1){
        grid-area: 1/auto/2;
    }
    .component5 .content .infogram .circle:nth-child(2){
        grid-area: 3/auto/4;
    }
    .component5 .content .infogram .circle:nth-child(3){
        grid-area: 5/auto/6;
    }
    .component5 .content .infogram .circle:nth-child(4){
        grid-area: 7/auto/8;
    }
    .component5 .content .infogram .category:nth-child(5){
        grid-area: 2/auto/3;
    }
    .component5 .content .infogram .category:nth-child(6){
        grid-area: 4/auto/5;
    }
    .component5 .content .infogram .category:nth-child(7){
        grid-area: 6/auto/7;
    }
    .component5 .content .infogram .category:nth-child(8){
        grid-area: 8/auto/9;
    }
}