@import "squares";
.component7 {
    background-color: $component7-bg;
    @include flex;
    align-items: unset;
    .content {
        width: 1170.24px;
        height: auto;
        margin-left: -10px;
        p,
        h1,
        h6 {
            @include Lato;
            text-align: center;
        }
        h1 {
            font-size: 36px;
            color: $component7-h1;
            margin: 89px 0 0 0;
            font-weight: 300;
        }
        p {
            font-size: 14px;
            color: $component7-p;
        }
        > p {
            &:nth-child(2) {
                margin: 12px 0 0 0;
                line-height: 1.7;
            }
        }
        .menu {
            display: grid;
            grid-template-columns: 49px 67px 90px 85px 120px 96px 126px 106px 309px auto;
            grid-template-rows: 55px;
            margin-top: 47px;
            align-items: center;
            border: 1px solid $component7-border;
            border-left: none;
            border-right: none;
            p {
                width: max-content;
                &:hover {
                    color: $component7-p-hover;
                    cursor: pointer;
                }
                &:first-child {
                    color: $component7-p-hover-firstchild;
                }
            }
            button {
                width: 122px;
                height: 36px;
                color: $component7-button;
                background-color: $component7-button-bg;
                border: 1px solid $component7-button-border;
                border-radius: 3px;
                font-size: 14px;
                align-self: center;
                &:hover {
                    background-color: $component7-button-hover;
                    cursor: pointer;
                }
            }
        }
        @include squares;
    }
}

@import "mediaDesktop";
@import "mediaLaptop";
@import "mediaTablet";