@media only screen and (max-width: $breakPointLaptops) {
    .component7 {
        .content {
            .menu {
                grid-template-columns: repeat(5, auto) 150px;
                grid-template-rows: 1fr 1.5fr;
                align-items: center;
                button {
                    grid-area: 1/6/3/7;
                    margin: auto;
                }
            }
            .squares {
                .square {
                    &:hover {
                        .downside {
                            .whitebar {
                                h6,
                                p {
                                    margin-top: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
