@media only screen and (max-width: 1279px) {
    .component7 {
        .content {
            margin: auto;
            max-width: 1170.24px;
            width: 95%;
            .menu {
                grid-template-columns: repeat(10, auto);
            }
        }
    }
}
