@media only screen and (max-width: media("tablet")) {
	.component12 {
		.content {
			.categories {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(6, 249px);
				justify-items: center;
			}
		}
	}
}
