@media only screen and (max-width: $breakpointTablets) {
    .component8 .content>p {
        margin-top: 90px;
    }
    .component8 .content .container {
        margin-top: 100px;
    }
    .component8 .content .item {
        margin-top: 155px
    }
    .component8 .content form {
        margin-top: 95px;
    }
}