.component5 {
   @include flex;
    background-color: $component5-bg;
    .content {
        width: 1170px;
        height: 523px;
        margin-left: 7px;
        h1,
        p,
        h4 {
            @include Lato;
            text-align: center;
            color: $component5-text;
        }
        h1 {
            font-size: 36px;
            font-weight: 300;
            margin-right: 17px;
        }
        p {
            font-size: 14px;
            margin: 13px 18px 0 0;
            line-height: 1.69;
        }
        .infogram {
            display: grid;
            grid-template-columns: repeat(4, 300px);
            grid-template-rows: 200px 1fr;
            margin-top: 54px;
            @import "circle";
            .category {
                h4 {
                    font-size: 18px;
                    font-weight: bold;
                    margin: 29px 48px 0 0;
                }
                p{
                    width: 260px;
                    margin: 14px 0px 0 -4px;
                    line-height: 1.77;
                }
            }
        }
        .flex {
            @include flex;
            align-content: center;
        }
    }
}

@import "mediaDesktop";
@import "mediaTablet";