@media only screen and (max-width: $breakpointTablets) {
    .component6 {
        .content {
            .categories {
                grid-template-columns: 1fr;
                grid-auto-rows: 1fr;
            }
            .category{
                &:nth-child(2){
                    p{
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
