@media only screen and (max-width: media("laptop")) {
    .component4 {
        height: auto;
        .content {
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 256px 315px;
            margin-left: 3%;
            img{
                grid-row: 1/2;
            }
            .about{
                width: 100%;
            }
        }
    }
}
