@media only screen and (max-width: media("desktop")) {
    .component4 {
        .content {
            grid-template-columns: 543px auto;
            margin-left: 3%;
            img{
                width: 470px;
            }
        }
    }
}
