$component-1-bg:#222533;
$component-1-font: #ffffff;
$component-1-span:#1abc9c;
$component-1-hover:#1abc9c;

$component2-bg:#ffffff;
$component2-h1:#34495E;
$component2-p:#A1B1BC;
$component2-p-hover:#8f989e;

$component3-bg:#ffffff;
$component3-gradient-start:rgb(228, 228, 228);
$component3-gradient-end:white;
$component3-p-header:#2c3e50;
$component3-p-text:#a1b1bc;
$component3-border:#dbe7ef;

$component4-bg:#F9FBFB;
$component4-border:#dadada;
$component4-h1:#2C3E50;
$component4-p:#A1B1BC;
$component4-button:#34495E;;
$component4-button-hover:rgb(231, 229, 229);
$component4-button-border:#E5E5E5;

$component5-bg:#2e3241;
$component5-text:#ffffff;
