$breakpointDesktops: 1279px;
$breakPointLaptops: 1023px;
$breakpointTablets: 767px;

$componentHeights:(
    1: 1280px,
    2: 90px,
    3: 436px,
    4: 501px,
    5: 700px,
    6: 540px,
    7: 845px,
    8: 711px,
    9: 881px,
    10:1096px,
    11:1264px,
    12:790px,
    13:774px,
    14:101px,
    15:609px,
    16:82px,
);

@each $i, $value in $componentHeights {
    .component#{$i}{
        height: $value;
    }
}

@function media($param: "desktop"){
    @if $param == "laptop"{
        @return $breakPointLaptops;
    }@else if $param == "tablet"{
        @return $breakpointTablets;
    }@else{
        @return $breakpointDesktops;
    }
}

.component{
    width: 100%;
}

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Lato{
    font-family: "Lato", sans-serif;
}

button{
    @extend button;
}

i{
    @extend i;
}