@media only screen and (max-width: $breakpointTablets) {
    .component1 {
    
        .content {
            width: 1052;
            height: 700px;
            margin-top: 155px;
            h3 {
                &:first-child {
                    letter-spacing: 9px;
                    line-height: 30px;
                    height: 65px;
                }
                &:nth-child(3) {
                    height: 110px;
                }
            }
            h1{
                height: 270px;
                width: 100%;
                line-height: 60px;
            }
            .divbuttons {
                .buttons {
                    button {
                        width: 150px;
                        margin: 0 auto;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}