@import "variables";

@each $i, $value in $componentHeights {
    .component#{$i}{
        height: $value;
    }
}

@function media($param: "desktop"){
    @if $param == "laptop"{
        @return $breakPointLaptops;
    }@else if $param == "tablet"{
        @return $breakpointTablets;
    }@else{
        @return $breakpointDesktops;
    }
}

.component{
    width: 100%;
}

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Lato{
    font-family: "Lato", sans-serif;
}
