@media only screen and (max-width: $breakpointTablets) {
    .component13 {
        height: auto;
        .content {
            width: 95%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            margin-bottom: 20px;
            h1 {
                text-align: center;
            }
            .leftbar {
                > p {
                    text-align: center;
                }
            }
            .rightbar {
                .dots {
                    margin: auto;
                }
            }
        }
    }
}
