@import "button";
@import "variables";


.component4 {
    background-color: $component4-bg;
    @include flex;
    border-top: 0.1px solid $component4-border;
    .content {
        width: 1185px;
        height: 315px;
        display: grid;
        grid-template-columns: 635px auto;
        grid-template-rows: 1fr;
        .about {
            width: 570px;
            h1,
            p,
            button {
                @include Lato;
            }
            h1 {
                font-size: 36px;
                font-weight: 300;
                color: $component4-h1;
                margin: -3px 0 0 1px;
            }
            p {
                font-size: 14px;
                color: $component4-p;
                line-height: 1.72;
                @each $i, $margin in $childs{
                    &:nth-child(#{$i}){
                        margin: $margin;
                    }
                }
            }
            button {
               @include button;
            }
        }
        img {
            margin-top: 32px;
        }
    }
}

@import "mediaDesktop";
@import "mediaLaptop";
@import "mediaTablet";
